{{#if this.model.custom_fields.nationalflag_iso}}
  <div>
    <img
      class="nationalflag-usersummary"
      src="/plugins/discourse-nationalflags/images/nationalflags/{{this.model.custom_fields.nationalflag_iso}}.png"
    />
  </div>
{{/if}}